<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="#" class="brand">影海拾贝</a>
			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav">
					<li class="active">
						<a href="./webpage.html">首页</a>
					</li>
					<li>
						<a href="#">最新贝壳</a>
					</li>
					<li>
						<a href="./about.html">关于</a>
					</li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<!-- <a href="#">右边链接</a> -->
						<input type="text"  id="search" placeholder="输入关键字后搜索...">
						<span class="add-on btn" id="search_btn">搜索</span>
					</li>
					<li class="divider-vertical">
					</li>
				</ul>
			</div>
		</div>
	</div>