	<ul class="breadcrumb">
		<li>
		  <a href="#">首页</a> <span class="divider">/</span>
		</li>
		<li>
		  <a href="#">明细</a> <span class="divider">/</span>
		</li>
		<li class="active">
		  大菠萝哈哈哈
		</li>
	</ul>
</div>