<div class="row-fluid">
	<div class="span8" id="span8">

		<%= render 'website/shared/head' %>
		<%= render 'website/shared/navigation' %>

		<div class="row-fluid">
			<div class="span8">
				<div class="page-header">
					<h1>
						大菠萝哈哈哈 <small>daboluohahaha</small>
					</h1>
				</div>
				<img width="300px" src="./images/mingxi.jpg" class="img-rounded" />
				<br/><br/>
				<div class="accordion" id="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#accordion-element-a">基本信息</a>
						</div>
						<div id="accordion-element-a" class="accordion-body in">
							<div class="accordion-inner">
<p>导演: 王家卫</p>
<p>编剧: 王家卫 / 金庸</p>
<p>主演: 张国荣 / 张曼玉 / 梁朝伟 / 林青霞 / 张学友/ 更多...</p>
<p>类型: 剧情 / 动作 / 爱情 / 武侠 / 古装</p>
<p>制片国家/地区: 香港 / 台湾</p>
<p>语言: 粤语 / 汉语普通话</p>
<p>上映日期: 1994-09-17(中国大陆)</p>
<p>片长: 100 分钟 / 93 分钟(修复版)</p>
<p>又名: Ashes of Time</p>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-element-b">简介</a>
						</div>
						<div id="accordion-element-b" class="accordion-body in">
							<div class="accordion-inner">
								 在恋人（张曼玉）负气嫁给兄长的当晚，欧阳锋（张国荣）黯然离开白陀山，走进沙漠某个小镇，成为一名杀手中介人。他的朋友、风流剑客黄药师（梁家辉）每年都来小镇与他畅饮，酒话里有关白陀山的消息令他忘却往事的念想渐次演变成自欺行为。
黄药师只是表面风流。他迷恋好友“盲武士”（梁朝伟）的妻子桃花（刘嘉玲），后者在丈夫死后，永远地离开了他；而对迷恋他的女人慕容嫣（林青霞），他又不愿兑现曾经随口说出的承诺，这使得慕容嫣迷失于自己的身份中。与欧阳锋构成短暂“买凶杀人”关系的洪七（张学友）、村姑（杨采妮）等人，也都有一段只有他们自己才知、不愿回首的痛苦过往。
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							 <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-element-c">下载地址</a>
						</div>
						<div id="accordion-element-c" class="accordion-body in">
							<div class="accordion-inner">
								<p>非直接下载地址: https://google.com</p>
								<p>直接下载地址: https://google.com</p>
								<p>百度云盘地址: https://google.com</p>
								<p>百度云盘密码: https://google.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span3" id="detail_right">
				<div>
					<span>贝壳分类</span><br/>
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
					<span class="label">标签</span> 
				</div>
				<br/>
				<div class="tabbable" id="tabs">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#panel-a" data-toggle="tab">最热贝壳</a>
						</li>
						<li>
							<a href="#panel-b" data-toggle="tab">拾个贝壳</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="panel-a">
							<p>aaaaaaaaaaaaaaaaaa</p>
							<p>aaaaaaaaaaaaaaaaaa</p>
							<p>aaaaaaaaaaaaaaaaaa</p>
							<p>aaaaaaaaaaaaaaaaaa</p>
							<p>aaaaaaaaaaaaaaaaaa</p>
						</div>
						<div class="tab-pane" id="panel-b">
							<p>bbbbbbbbbbbbbbbbbb</p>
							<p>bbbbbbbbbbbbbbbbbb</p>
							<p>bbbbbbbbbbbbbbbbbb</p>
							<p>bbbbbbbbbbbbbbbbbb</p>
							<p>bbbbbbbbbbbbbbbbbb</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>