<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<%= stylesheet_link_tag 'website', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'website', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body style="width:100%">
<div  id="LG">
	<%= yield %>
</div>

</body>
</html>